@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.woff)
    format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareB.woff)
    format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareEB.woff)
    format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareL.woff)
    format('truetype');
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #070d2d;
  font-family: 'NanumSquare', sans-serif;
  overflow-y: overlay;
}

body:lang(zh) {
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(69, 75, 107, 0.5);
  border-radius: 8px 0 0 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 75, 107, 0.7);
}

body::-webkit-scrollbar-thumb:active {
  background: rgba(69, 75, 107, 0.95);
}
